#header1-1 H1 {
	font-size: 100px !important;
	color: #ffffff !important;
}
#msg-box3-2 H2 {
	color: #000000 !important;
}
#msg-box3-2 DIV {
	color: #000000 !important;
}
#features1-3 P {
	text-align: center !important;
	color: #ffffff !important;
}
#features1-3 H3 {
	text-align: center !important;
	color: #ffffff !important;
}
#features1-5 P {
	color: #ffffff !important;
	text-align: center !important;
}
#features1-5 H3 {
	color: #ffffff !important;
}
#msg-box3-6 P {
	text-align: center !important;
}
#msg-box4-12 H2 {
	text-align: center !important;
	color: #000000 !important;
}
#msg-box4-12 SPAN {
	color: #000000 !important;
}
#msg-box3-8 P {
	text-align: center !important;
}
#features1-9 P {
	color: #ffffff !important;
	text-align: center !important;
}
#features1-9 H3 {
	color: #ffffff !important;
}
#msg-box3-10 P {
	text-align: center !important;
}
#features1-11 P {
	color: #ffffff !important;
	text-align: center !important;
}
#features1-11 H3 {
	color: #ffffff !important;
}
#features1-13 P {
	color: #ffffff !important;
	text-align: center !important;
}
#features1-13 H3 {
	color: #ffffff !important;
}
#msg-box3-14 P {
	text-align: center !important;
}
#features1-15 P {
	color: #ffffff !important;
	text-align: center !important;
}
#features1-15 H3 {
	color: #ffffff !important;
}
#msg-box3-16 P {
	text-align: center !important;
}
#features1-17 P {
	color: #ffffff !important;
	text-align: center !important;
}
#features1-17 H3 {
	color: #ffffff !important;
}
#footer1-20 P {
	color: #ffffff !important;
}
